.title {
    text-align: center;
    color: rgb(186, 31, 35);
    padding: 1%;
    font-weight: bold;
}

.container {
    margin-top: 2%;
    text-align: center;
    background-color: rgb(186, 31, 35);
    color: #fff;
    padding: 2%;
    border-radius: 8px;
    width: 45%;
}

.match-info {
    margin-bottom: 5%;
}

.divider {
    padding: 2%;
}

.team-logo {
    width: 100px;
    margin: 1%;
}

.vs {
    margin-top: auto;
    margin-bottom: auto;
}