.navbar {
    background-color: rgb(186, 31, 35);
}

.navbar-nav {
    text-align: left;
}

.nav-item {
    color: #fff;
    font-size: 18px;
}

.nav-link {
    color: #fff;
    font-size: 18px;
}

.nav-item:hover {
    text-decoration: underline;
}

.nav-link:hover {
    text-decoration: underline;
}

.laborsport-logo {
    width: 15%;
}

.user-logo {
    width: 10%;
}